<!-- 
    <header class="header-global">
        <nav>
            <div class="logo">
              <div class="arrow-down"></div>
            </div>
            <ul >
              <li>Writing Tool</li>
              <li>Profile</li>
              <li>Payment</li>
              <li id="nav-item-word"><strong> 0/3000</strong></li>
              <li id="nav-item"><a class="mb-2 mb-lg-0" href="#">
                <img src="/static/assets/img/illustrations/undraw_pic_profile_re_7g2h.svg" alt="" width="40" height="40">
              </a></li>
              
            </ul>
          
          </nav>
        
    </header>
 -->
